<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facetious.mr.sc2coopassist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SC2CoopAssist">
        <activity
            android:name=".activityStart"
            android:parentActivityName=".MainActivity"
            android:label="@string/top_mapsel" />
        <activity
            android:name=".activityAbout"
            android:parentActivityName=".activityOptions"
            android:label="@string/options_about" />
        <activity
            android:name=".activityOptions"
            android:parentActivityName=".MainActivity"
            android:label="@string/botton_options"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>